<!DOCTYPE HTML>
<html>
<head>
<title>chart anatomy</title>
<link rel="stylesheet" href="/static/style.css" type="text/css" />
<style type="text/css">
#map {
  width: 80%;
  height: 300px;

}

#map .YAxisControl {
  position: absolute;
  left: 3ex;
}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js">
</script>
<script type="text/javascript"> jQuery.noConflict(); </script>
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="http://proj4js.org/lib/proj4js-compressed.js"></script>
<script src="/static/XYZ.js"></script>
<script src="/static/Second.js"></script>
<script src="/static/CartesianLayer.js"></script>
<script src="/static/glucose.js"></script>
<script type="text/javascript">

Proj4js.defs["PLANE"] = "+proj=eqc +lat_ts=1 +lon_0=0 +x_0=0 +y_0=0 +a=0 +b=0 +units=ft +k_0=1";



function add(ll) {
  //var url = 'http://www.openlayers.org/dev/img/marker.png';
  var url = '/static/dot.png';
  var sz = new OpenLayers.Size(12, 12);
  var calculateOffset = function(size) {
    return new OpenLayers.Pixel(-(size.w/2)+0, -(size.h/2)-3);
  };
  var icon = new OpenLayers.Icon(url, sz, null, calculateOffset);

  var marker = new OpenLayers.Marker(ll, icon);
  var markers = me.markers;
  markers.addMarker(marker);

}

function glucose(x, y) {
  //var lat = (y/400) * 5;
  var ll = new OpenLayers.LonLat(x, y );
  var marker = add( ll );
  return marker;
}

//var extent = new OpenLayers.Bounds(8, 44.5, 19, 50);
/*
* tileSize = 256
* viewport h = 300
* viewport w = 256 * 10
* 
* map size = 3076px
* 
* 1 Tile is 5 "Ticks", each one Foot
* World width is 10 tiles
* 50 feet
* 600inches
* tilepixels = 2560
* 2560 / 50 == 51
* 2560 / 600 == 4
* 
* 5 feet per tile
*
* 
* World Width = 10 tiles * 5 feet = 50 feet
* pixel = 50 feet / (2560) = 0.01953125
* inches = 50 * 12 = 600
* 
* LonLat should be in feet
*
* World Height = 4 tiles * 5 feet 
* 20 feet
* 240 inches
* tilepixels = 1024
* 
* 
*
*/

OpenLayers.DOTS_PER_INCH = 300;
//OpenLayers.DOTS_PER_INCH = 4.25;
// left, bottom, right, top
var tilesize   = 256;
var secondsday = 86400;
var hours      = 24;
var extent = new OpenLayers.Bounds(-(50), -(.7), (50), (5.1) );
// ft?
// var left, bottom, right, top 
var minExtent = new OpenLayers.Bounds(-1, -1, 1, 1);
var maxExtent = new OpenLayers.Bounds(-(10 * 5), -(10), (10 * 5), (10));
var resolutions = [ 5/256 ];
var me = (function($) {
console.log('hello');
var me = { };

var YAxisControl = OpenLayers.Class(OpenLayers.Control, {
  maxWidth: 64,
  element: null,
  _img: null,
  draw: function() {
    OpenLayers.Control.prototype.draw.apply(this,arguments);
    var xy = this.map.getPixelFromLonLat( new OpenLayers.LonLat( 0, 5 ) );
    //this.element = document.createElement('DIV');
    this.div.className += "YAxisControl";
    this.div.style.top = ( xy.y - 64) + 'px';
    this._img = document.createElement('IMG');
    this._img.src = '/graph/yaxis';
    this.div.appendChild(this._img);
    //this.div.appendChild(this.element);
    return this.div;

  },
  moveTo: function(px) {
    if ((px != null) && (this.div != null)) {
      this.div.style.left = px.x + 'px';
      this.div.style.top  = px.y + 'px';
    }
  }
});

var GlucoseLayer = OpenLayers.Class(CartesianLayer, {
  //res_y: 1/256
});

var SafeGlucoseControl = OpenLayers.Class(OpenLayers.Control, {

});
/*
* scale = units ( default inches )
* resolution = map units / pixel
* map units = ( default dd )
* extents =  map units
*/
$(document).ready( function() {
  console.log( "We're ready!" );
  var options = { 
    restrictedExtent: extent
  , minExtent: minExtent
  , maxExtent: maxExtent
  //, resolutions: [ 64, 32, 16, 8, 4 ]
  //, resolutions: [ 1, 51, 51, 50/2560, 1/4, 1/8 ]
  //, resolutions: [ 50/2560.0, 50/2560.0 ]
  , resolutions: resolutions
  //, minResolution: 1
  //, maxResolution: 3
  , projection: 'PLANE'
  , units: 'ft'
  };
  me.map = new OpenLayers.Map('map', options);
  //me.wms = new OpenLayers.Layer.WMS(
  //me.wms = new OpenLayers.Layer.TMS(
  //me.wms = new OpenLayers.Layer.MapServer(
  me.wms = new GlucoseDay(
    "DEBUG",
    //"./graph/debug?x=\$\{x}&y=\$\{y}&z=\$\{z}",
    "/graph/debug?",
    { layers: 'basic',
      // gutter: 21,
      // gutter: 16,
      type: 'png' }
  );
  me.map.addLayers([me.wms]);
  me.map.zoomToExtent(extent);
  me.map.events.register("mousemove", me.map, function(e) { 
    var position = this.events.getMousePosition(e);
    var ll       = this.getLonLatFromPixel(e.xy);
  /*
    OpenLayers.Util.getElement("coords").innerHTML = "" + position + "<br>" + ll;
  */
    $('#time').text(new Second(ll.lon));
  });
  me.map.addControl(new OpenLayers.Control.MousePosition());
  me.map.addControl(new OpenLayers.Control.Scale());
  me.map.addControl(new OpenLayers.Control.OverviewMap());
  me.yaxis = new YAxisControl();
  me.map.addControl(me.yaxis);
  me.scaleline = new OpenLayers.Control.ScaleLine();
  //me.map.addControl(me.scaleline);
  //me.scaleline.activate();
  me.markers = new OpenLayers.Layer.Markers("markers");
  me.map.addLayer(me.markers);
  
  test();
  
});

return me;
})(jQuery);

function test() {
  add(new OpenLayers.LonLat( 0, 0 ) );
  add(new OpenLayers.LonLat( 1, 0 ) );
  add(new OpenLayers.LonLat( 2, 0 ) );
  add(new OpenLayers.LonLat( 3, 0 ) );
  add(new OpenLayers.LonLat( 4, 0 ) );
  add(new OpenLayers.LonLat( 5, 0 ) );
  add(new OpenLayers.LonLat( 6, 0 ) );
  add(new OpenLayers.LonLat( 7, 0 ) );
  add(new OpenLayers.LonLat( 8, 0 ) );
  add(new OpenLayers.LonLat( 9, 0 ) );
  add(new OpenLayers.LonLat( 10, 0 ) );
  add(new OpenLayers.LonLat( 11, 0 ) );
  add(new OpenLayers.LonLat( 12, 0 ) );

  add(new OpenLayers.LonLat( 0, 1 ) );
  add(new OpenLayers.LonLat( 0, 2 ) );
  add(new OpenLayers.LonLat( 0, 3 ) );
  add(new OpenLayers.LonLat( 0, 4 ) );
  add(new OpenLayers.LonLat( 0, 5 ) );

  glucose( -.75, 40 );
  glucose( -.75, 70 );
  glucose( -.75, 100 );
  glucose( -.75, 140 );
  glucose( -.75, 200);
  glucose( -.75, 300);
}

</script>
</head>
<body>

<h1>OpenLayers</h1>

<h2>Axis</h2>

<div id="map"></div>
<div id="debug">
  <span id="coords"></span>
  <div id="time"></div>
</div>

</body>
</html>
