<!DOCTYPE HTML>
<html>
<head>
<title>chart anatomy</title>
<link rel="stylesheet" href="./static/style.css" type="text/css" />
<style type="text/css">
.img img {
  border: 1ex solid blue;

}
</style>
</head>
<body>

<h1>Anatomy/List of available things</h1>

<h2>Axis</h2>

<div class="yaxis">
<span class="img">
  <img src="./graph/yaxis">
</span>
</div>

<div class="dot">
  <span class="img"><img src="./graph/dot"></span>
</div>
<div class="xaxis">
<img src="./graph/xaxis">
</div>

<div class="debug">
<img src="./graph/debug">
</div>

<div id="map" class="smallmap"></div>
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="http://proj4js.org/lib/proj4js-compressed.js"></script>
</body>
</html>
