[submodule "src/mock/panojs"]
	path = src/mock/panojs
	url = /home/bewest/Documents/git/panojs
[submodule "src/mock/polymaps"]
	path = src/mock/polymaps
	url = /home/bewest/Documents/git/polymaps/
[submodule "src/mock/pixymaps"]
	path = src/mock/pixymaps
	url = /home/bewest/Documents/git/pixymaps
